                                                Practice Questions

TOPIC : String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
# Take input as string from user
st = input("Enter a word :")

# Reversing the string by extracting characters
rev = ""
i = 0
while i < len(st):
    rev = st[i] + rev
    i += 1

# Displaying the reverse string
print("Reversed string is",rev)

Enter a word : pwskills

Reversed string is sllikswp

2. Check if a string is a palindrome.

In [4]:
# Take input as string from user
st = input("Enter a word :")

# Reversing the string by extracting characters
rev = ""
i = 0
while i < len(st):
    rev = st[i] + rev
    i += 1

# Checking for palindrome
if st == rev :
    print(st,"is a Palindromic string")
else:
    print(st,"is not a Palindromic string")

Enter a word : MADAM

MADAM is a Palindromic string

3. Convert a string to uppercase.

In [5]:
# take input as string from user
s = input("Enter a word :")

# converting and displaying in upper case
print("The given string in upper case is as :",s.upper())

Enter a word : pwskills

The given string in upper case is as : PWSKILLS

4. Convert a string to lowercase.

In [6]:
# take input as string from user
s = input("Enter a word :")

# converting and displaying in lower case
print("The given string in lower case is as :",s.lower())

Enter a word : MADAM

The given string in lower case is as : madam

5. Count the number of vowels in a string.

In [7]:
# Taking input as sentence from user
s = input("Enter a sentence :")

# Calculating vowels in a string
count = 0
l = ["a","e","i","o","u"]
i=0
while i < len(s):
    if s[i] in l:
        count += 1
    i = i+1
print("The number of vowels in the string is",count)

Enter a sentence : i am great

The number of vowels in the string is 4

6. Count the number of consonants in a string.

In [11]:
#Taking input as sentence from user
s = input("Enter a sentence :")

# Calculating consonants in a string
count = 0
l = ["a","e","i","o","u"," "]
i=0
while i < len(s):
    if s[i] in l:
        count = count
    else:
        count += 1
    i = i+1
print("The number of consonants in the string is",count)

Enter a sentence : i am great

The number of consonants in the string is 4

7. Remove all whitespaces from a string.

In [12]:
# Take input as string from user
s = input("Enter a string :")

# Removing spaces from the string
mod = ""
i = 0
while i < len(s):
    if s[i] == " ":
        mod = mod
    else:
        mod += s[i]
    i += 1 

# Displaying the modified string
print("The modified string is",mod)

Enter a string : p w ski ll s

The modified string is pwskills

8. Find the length of a string without using the `len()` function.

In [20]:
# take input as string from user
s = input("Enter a sentence :")

# calculating length of the string
c = 0
for i in s:
    c += 1
    
print("The length of the string is",c)

Enter a sentence : I am Suman Giri.

The length of the string is 16

9. Check if a string contains a specific word.

In [2]:
# take user input as string and a word for searching
s = input("Enter a sentence :")
w = input("Enter the word you are searching for :")

# checking if the word exists or not
if w in s:
    print("The string contains the input word")
else:
    print("The string doesn't contains the input word")

Enter a sentence : i am genius
Enter the word you are searching for : is

The string doesn't contains the input word

10. Replace a word in a string with another word.

In [3]:
# take user input as string
s = input("Enter a sentence :")
w1 = input("Enter the word to replace :")
w2 = input("Enter the new word :")

# Repalcing a word in a string with another word
s = s.replace(w1,w2)
print("After replacing:")
print(s)

Enter a sentence : i am a female
Enter the word to replace : female
Enter the new word : male

After replacing:
i am a male

11. Count the occurrences of a word in a string.

In [14]:
# take user input as string
s = input("Enter a sentence :")
w = input("Enter the word you wish to find its occurence in the string :")

# counting the occurence of a word in a string
print("The number of occurence is",s.count(w))

Enter a sentence : i am not am the guy
Enter the word you wish to find its occurence in the string : am

The number of occurence is 2

12. Find the first occurrence of a word in a string.

In [6]:
# taking the required inputs
s = input("Enter a sentence :")
w = input("Enter the word searching for :")

# finding the first occurence of a word in string
print("Found at :",s.index(w))

Enter a sentence : he is a good boy as well as smartest boy in the class
Enter the word searching for : boy

Found at : 13

13. Find the last occurrence of a word in a string.

In [10]:
# taking the required inputs
s = input("Enter a sentence :")
w = input("Enter the word searching for :")

# extracting words and then finding the last occurence of it
w1 = ''
c = 0
for i in s:
    c += 1
    if i not in [" ","."]:
        w1 = w1 + i
    else:
        if w1 == w:
            found = c-len(w1)-1
        w1 = ''

print("Last occurence of the word is at :",found)

Enter a sentence : he is a good boy as well as smartest boy in the class
Enter the word searching for : boy

Last occurence of the word is at : 37

14. Split a string into a list of words.

In [12]:
# taking input as string
s = input("Enter a sentence :")

# splitting a string into list of words
l = []
w1 = ''
for i in s:
    if i not in [" ","."]:
        w1 = w1 + i
    else:
        l.append(w1)
        w1 = ''
        
print("Required list :",l)

Enter a sentence : I am a data scientist.

Required list : ['I', 'am', 'a', 'data', 'scientist']

15. Join a list of words into a string.

In [18]:
# taking input as string
list_words = input("Enter list of words to join seperated by spaces :").split()
print("List of words to join :",list_words)
# joining list of words into a string
s1 = " ".join(list_words)

print("New string :",s1)

Enter list of words to join seperated by spaces : i am a data scientist

List of words to join : ['i', 'am', 'a', 'data', 'scientist']
New string : i am a data scientist

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [21]:
s = "I am a data scientist"
s1 = ""
for i in s:
    if i == " ":
        s1 = s1 + "_"
    else:
        s1 = s1 + i
        
print("New converted string :",s1)

New converted string : I_am_a_data_scientist

17. Check if a string starts with a specific word or phrase.

In [20]:
s = "Suman is a data scientist"
if s.startswith("is"):
    print("The string starts with the word 'Suman'")
else:
    print("The string doesn't starts with the word 'Suman'")

The string doesn't starts with the word 'Suman'

18. Check if a string ends with a specific word or phrase.

In [18]:
s = "I am a data scientist"
if s.endswith("scientist"):
    print("The string ends with the word 'scientist'")
else:
    print("The string doesn't ends with the word 'scientist'")

The string ends with the word 'scientist'

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [12]:
s = "hello world"
s.title()

'Hello World'

20. Find the longest word in a string.

In [7]:
s = "I am a data scientist."
w = ""
longest_word = ""
length_word = 0
for i in s:
    if i not in [" ","."]:
        w = w + i
    else:
        if len(w) >= length_word:
            longest_word = w
            length_word = len(w)
        w = ""
        
print("Longest word in a string :",longest_word)

Longest word in a string : scientist

21. Find the shortest word in a string.

In [9]:
s = "I am a data scientist."
w = ""
shortest_word = ""
length_word = 1
for i in s:
    if i not in [" ","."]:
        w = w + i
    else:
        if len(w) <= length_word:
            shortest_word = w
            length_word = len(w)
        w = ""
        
print("Longest word in a string :",shortest_word)

Longest word in a string : a

22. Reverse the order of words in a string.

In [11]:
s = "I am a data scientist."
w = ""
rev = ""
for i in s:
    if i not in [" ","."]:
        w = w + i
    else:
        rev = w + " " + rev
        w = ""
        
print("New string :",rev)

New string : scientist data a am I

23. Check if a string is alphanumeric.

In [11]:
s = "Pwskills2023"

if s.isalnum():
    print("Given string is alphanumeric")
else:
    print("Given string is not alphanumeric")

Given string is alphanumeric

24. Extract all digits from a string.

In [8]:
s = '23Pwskills24'
print("Digits present in a string :")
s1 = set()
for i in s:
    if i.isnumeric():
        s1.add(i)

for i in s1:
    print(i)

Digits present in a string :
2
4
3

25. Extract all alphabets from a string.

In [9]:
s = '23Pwskills24'
print("Alphabets present in a string :")
s1 = set()
for i in s:
    if i.isalpha():
        s1.add(i)

for i in s1:
    print(i)

Alphabets present in a string :
l
P
w
k
s
i

26. Count the number of uppercase letters in a string.

In [1]:
# Take user input as string
s = input("Enter a sentence :")

# Counting the number of uppercase letters
count = 0
i = 0
while i < len(s):
    if s[i].isupper():
        count += 1
    i += 1
    
print("The number of uppercase letters in the given string is",count)

Enter a sentence : I am a Data Scientist

The number of uppercase letters in the given string is 3

27. Count the number of lowercase letters in a string.

In [2]:
# Take user input as string
s = input("Enter a sentence :")

# Counting the number of lowercase letters
count = 0
i = 0
while i < len(s):
    if s[i].islower():
        count += 1
    i += 1
    
print("The number of lowercase letters in the given string is",count)

Enter a sentence : Patience is the key to success

The number of lowercase letters in the given string is 24

28. Swap the case of each character in a string.

In [5]:
# Take user input as string
s = input("Enter a Sentence :")

# swapping case of each character
s1 = ""
i = 0
while i < len(s):
    if s[i].isupper():
        s1 = s1 + s[i].lower()
    elif s[i].islower():
        s1 = s1 + s[i].upper()    
    else:
        s1 = s1 + s[i]
    i += 1

print("After swapping the string becomes :",s1)

Enter a Sentence : Pw is a Brand

After swapping the string becomes : pW IS A bRAND

29. Remove a specific word from a string.

In [16]:
s = "I am a data scientist"
s1 = ""
l = s.split()
w = input("Enter word to remove in a declared string :")
l.remove(w)
for i in l:
    s1 = s1 + " " + i
print("New string :",s1)

Enter word to remove in a declared string : data

New string :  I am a scientist

30. Check if a string is a valid email address.

In [23]:
#

31. Extract the username from an email address string.

In [24]:
#

32. Extract the domain name from an email address string.

In [25]:
#

33. Replace multiple spaces in a string with a single space.

In [19]:
s = "I  am   a    data      scientist"
l = s.split()
s1 = ""
for i in l:
    s1 = s1 + " " + i
    
print("New String :",s1)

New String :  I am a data scientist

34. Check if a string is a valid URL.

In [27]:
#

35. Extract the protocol (http or https) from a URL string.

In [28]:
#

36. Find the frequency of each character in a string.

In [32]:
s = "I am a data scientist"
ch = set(s)
print("Set of characters in the string :",ch) 
for i in ch:
    f = 0
    for j in s:
        if i == j:
            f += 1
    print("Frequency of charcter",i,"--- ",f)

Set of characters in the string : {'n', ' ', 'a', 't', 'c', 'I', 'm', 's', 'i', 'd', 'e'}
Frequency of charcter n ---  1
Frequency of charcter   ---  4
Frequency of charcter a ---  4
Frequency of charcter t ---  3
Frequency of charcter c ---  1
Frequency of charcter I ---  1
Frequency of charcter m ---  1
Frequency of charcter s ---  2
Frequency of charcter i ---  2
Frequency of charcter d ---  1
Frequency of charcter e ---  1

37. Remove all punctuation from a string.

In [30]:
# list of punctuation
l = [".",",","?","!",":",";","'"]
s = ""

38. Check if a string contains only digits.

In [29]:
s = "9748494087"

if s.isnumeric():
    print("String contains only digits")
else:
    print("String doesn't contain only digits")

String contains only digits

39. Check if a string contains only alphabets.

In [26]:
s = "Pwskills"

if s.isalpha():
    print("Input string contains only alphabets")
else:
    print("Input string doen't contain only alphabets")

Input string contains only alphabets

40. Convert a string to a list of characters.

In [23]:
s = "Pwskills"
print("List of characters in a string :",list(set(s)))

List of characters in a string : ['l', 'P', 'w', 'k', 's', 'i']

41. Check if two strings are anagrams.

In [34]:
#

42. Encode a string using a Caesar cipher.

In [35]:
#

43. Decode a Caesar cipher encoded string.

In [36]:
#

44. Find the most frequent word in a string.

In [16]:
s = input("Enter a string")
l = s.split()
high_freq = 0
highfreq_word = ""
for i in l:
    count_words = 0
    for j in l:
        if i == j:
            count_words += 1
    if count_words >= high_freq:
        highfreq_word = i
        high_freq = count_words
print("Most frequent word :",highfreq_word)

Enter a string I am a data scientist and data analyst

Most frequent word : data

45. Find all unique words in a string.

In [15]:
s = input("Enter the string :")
print("List of unique words :",list(set(s.split())))

Enter the string : I am a data scientist and data analyst

List of unique words : ['a', 'and', 'am', 'data', 'scientist', 'analyst', 'I']

46. Count the number of syllables in a string.

In [39]:
#

47. Check if a string contains any special characters.

In [13]:
# declaring a list if special characters
s = input("Enter a string :")
l = [" ","@","$","_","!",","]
for i in s:
    if i in l:
        c = True
        break
    else:
        c = False
if c == True:
    print("String contains special characters")
else:
    print("String doesn't contains special characters")

Enter a string : Hurrah! i have become a data scientist

String contains special characters

48. Remove the nth word from a string.

In [8]:
s = input("Enter a string :")
n = int(input("Enter the nth position of word to remove :"))
words = s.split()
words.pop(n-1)
s1 = ""
for i in words:
        s1 = s1 + i + " "
print("New string :",s1)

Enter a string : I am a data scientist
Enter the nth position of word to remove : 4

New string : I am a scientist

49. Insert a word at the nth position in a string.

In [3]:
s = input("Enter a string :")
n = int(input("Enter the index position for word to insert in a string :"))
w = input("Enter word to insert :")
s1 = ""
c = 0
for i in s:
    if n == c :
        s1 = s1 + w + " "
    c += 1
    s1 = s1 + i 
print("New string :",s1)

Enter a string : I am a scientist.
Enter the index position for word to insert in a string : 7
Enter word to insert : data

New string : I am a data scientist.

50. Convert a CSV string to a list of lists.

In [43]:
#

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [26]:
# list of integers from 1 to 10
l = [1,2,3,4,5,6,7,8,9,10]

2. Find the length of a list without using the `len()` function.

In [27]:
# displaying the list
print("The list is :")
print(l)

# findind the length of the above list
c = 0
for i in l:
    c += 1

print("The length of the list :",c)

The list is :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The length of the list : 10

3. Append an element to the end of a list.

In [28]:
# displaying the list
print("The list is :")
print(l)
print()

# appending an element to the end of the list
l.append("pwskills")
print("The modified list is :")
print(l)

The list is :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The modified list is :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'pwskills']

4. Insert an element at a specific index in a list.

In [30]:
# displaying the list
print("The list is :")
print(l)
print()

# appending an element to
l.insert(3,"skills")
print("The modified list is :")
print(l)

The list is :
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'pwskills']

The modified list is :
[1, 2, 3, 'skills', 4, 5, 6, 7, 8, 9, 10, 'pwskills']

5. Remove an element from a list by its value.

In [36]:
l = [1,2,"india",4,"kolkata"]

l.remove("india")
l

[1, 2, 4, 'kolkata']

6. Remove an element from a list by its index.

In [39]:
l = [1,2,"india",4,"kolkata"]

l.pop(1)
l

[1, 'india', 4, 'kolkata']

7. Check if an element exists in a list.

In [41]:
l = [1,2,3,4,5]

if int(input("Enter the element you want to search")) in l:
    print("It's present in the list")
else:
    print("It's not present in the list")

Enter the element you want to search 6

It's not present in the list

8. Find the index of the first occurrence of an element in a list.

In [49]:
l = [1,2,3,1,4,3]

l.index(3)

2

9. Count the occurrences of an element in a list.

In [51]:
l = [1,2,3,1,4,3]

l.count(3)

2

10. Reverse the order of elements in a list.

In [47]:
l = [1,2,3,4,5]

l[::-1]

[5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [45]:
l = [1,9,3,8,6,4,7,2]

sorted(l)

[1, 2, 3, 4, 6, 7, 8, 9]

12. Sort a list in descending order.

In [46]:
l = [1,9,3,8,6,4,7,2]

sorted(l,reverse=True)

[9, 8, 7, 6, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [42]:
l = []
for i in [i for i in range(1,21) if i % 2 == 0]:
    l.append(i)
    
print("List of even numbers from 1 to 20 :",l)

List of even numbers from 1 to 20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [43]:
l = []
for i in [i for i in range(1,21) if i % 2 != 0]:
    l.append(i)
    
print("List of odd numbers from 1 to 20 :",l)

List of odd numbers from 1 to 20 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [44]:
l = [1,2,3,4,5]
s = 0
for i in l:
    s += i
    
print("Sum of all elements in the list :",s)

Sum of all elements in the list : 15

16. Find the maximum value in a list.

In [52]:
l = [1,2,3,4,5]

print("Maximum value in the list :",max(l))

Maximum value in the list : 5

17. Find the minimum value in a list.

In [53]:
l = [1,2,3,4,5]

print("Minimum value in a list :",min(l))

Minimum value in a list : 1

18. Create a list of squares of numbers from 1 to 10.

In [54]:
l = []

for i in range(1,11):
    l.append(i**2)
    
print("List of Squares of numbers from 1 to 10 :",l)

List of Squares of numbers from 1 to 10 : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [56]:
n = int(input("Enter the number of random numbers required :"))
l = []
for i in range(n):
    a = int(input("Enter any number :"))
    l.append(a)
    
print("User input list :",l)

Enter the number of random numbers required : 4
Enter any number : 1
Enter any number : 5
Enter any number : 9
Enter any number : 7

User input list : [1, 5, 9, 7]

20. Remove duplicates from a list.

In [57]:
l = [1,2,2,3,3,3,4,4,4,4]

print("List after remooving duplicates :",list(set(l)))

List after remooving duplicates : [1, 2, 3, 4]

21. Find the common elements between two lists.

In [58]:
l1 = [1,2,3,4]
l2 = [3,4,5,6,8,9]

print("Common elements between two lists :",list(set(l1).intersection(set(l2))))

Common elements between two lists : [3, 4]

22. Find the difference between two lists.

In [65]:
#

23. Merge two lists.

In [60]:
l1 = [1,2,3,4]
l2 = [3,4,5,6,8,9]

print("Merged List :",l1+l2)

Merged List : [1, 2, 3, 4, 3, 4, 5, 6, 8, 9]

24. Multiply all elements in a list by 2.

In [66]:
l1 = [1,2,3,4]
l3 = []

for i in l1:
    l3.append(i*2)
    
print("New list :",l3)

New list : [2, 4, 6, 8]

25. Filter out all even numbers from a list.

In [67]:
l2 = [3,4,5,6,8,9]

print("All even numbers from a list :")
for i in l2:
    if i % 2 == 0:
        print(i)

All even numbers from a list :
4
6
8

26. Convert a list of strings to a list of integers.

In [68]:
l = ['1','2','3','4']
l1 = []

for i in l:
    l1.append(int(i))
    
print("List after conversion :",l1)

List after conversion : [1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [71]:
l = [1,2,3,4]
l1 = []

for i in l:
    l1.append(str(i))
    
print("List after conversion :",l1)

List after conversion : ['1', '2', '3', '4']

28. Flatten a nested list.

In [71]:
#

29. Create a list of the first 10 Fibonacci numbers.

In [72]:
l = []

a,b=0,1
for i in range(10):
    l.append(a)
    a,b=b,a+b
    
print("List of first 10 fibonacci numbers :",l)

List of first 10 fibonacci numbers : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [70]:
l = [1,2,6,4,5]

if l == sorted(l):
    print("List is Sorted")
else: 
    print("List is not Sorted")

List is not Sorted

31. Rotate a list to the left by `n` positions.

In [74]:
#

32. Rotate a list to the right by `n` positions.

In [75]:
#

33. Create a list of prime numbers up to 50.

In [76]:
l = []

for i in range(1,51):
    c = 0
    for j in range(1,i+1):
        if i % j == 0:
            c += 1
    if c == 2:
        l.append(i)

print("List of Prime numbers up to 50 :",l)

List of Prime numbers up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [78]:
# l = [0,1,2,3,4,5,6,7,8,9]

# n = int(input("Enter the length of chunks required :"))

Enter the length of chunks required : 6

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

35. Find the second largest number in a list.

In [4]:
l = [1,2,3,4,5]
lar = max(l)
s_lar = l[0]

for i in l:
    if i >= s_lar and i < lar:
        s_lar = i
        
print("Second largest number in a list :",s_lar)

Second largest number in a list : 4

36. Replace every element in a list with its square.

In [1]:
l = [1,3,5,7,9]
l1 = []

for i in l:
    l1.append(i*i)
    
print(l1)

[1, 9, 25, 49, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [2]:
#

38. Shuffle the elements of a list randomly.

In [104]:
# l = [1,2,3,4,5]

39. Create a list of the first 10 factorial numbers.

In [5]:
l = []
for i in range(10):
    if i == 0:
        l.append(1)
    else:
        f = 1
        for j in range(1,i+1):
            f = f*j
        l.append(f)
    
print("List of the first 10 factorial numbers :",l)

List of the first 10 factorial numbers : [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [96]:
l1 = [1,2,3,4]
l2 = [8,5,6,7,4]

if set(l1).intersection(set(l2)) != set():
    print("Two lists have at least one element in common")
else:
    print("Two lists have no elements in common")

Two lists have at least one element in common

41. Remove all elements from a list.

In [98]:
l = [1,2,3,4,5]
l.clear()
print(l)

[]

42. Replace negative numbers in a list with 0.

In [97]:
l = [1,-1,2,-2,3,-3]
l1 = []
for i in l:
    if i < 0:
        l1.append(0)
    else:
        l1.append(i)
        
print("Desired list :",l1)

Desired list : [1, 0, 2, 0, 3, 0]

43. Convert a string into a list of words.

In [92]:
s = 'Pwskills'
print(list(s))

['P', 'w', 's', 'k', 'i', 'l', 'l', 's']

44. Convert a list of words into a string.

In [91]:
l = ["I","am","a","data","scientist"]
s = ""
for i in l:
    s = s + " " +i

print("Desired string :",s)

Desired string :  I am a data scientist

45. Create a list of the first `n` powers of 2.

In [90]:
n = int(input("Enter the value of n :"))
l = []

for i in range(n):
    l.append(2**i)
    
print("List of the first",n,"powers of 2 :",l)

Enter the value of n : 5

List of the first 5 powers of 2 : [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [89]:
l = ["sudh","krish","ramesh","ram","abhishek"]
llw = len(l[0])
lw = ''
for i in l:
    if len(i)>=llw:
        lw = i
        llw = len(i)
        
print("Shortest string in a list of strings :",lw)

Shortest string in a list of strings : abhishek

47. Find the shortest string in a list of strings.

In [87]:
l = ["sudh","krish","suman","sunny","imran"]
lsw = len(l[0])
sw = ''
for i in l:
    if len(i)<=lsw:
        sw = i
        lsw = len(i)
        
print("Shortest string in a list of strings :",sw)

Shortest string in a list of strings : sudh

48. Create a list of the first `n` triangular numbers.

In [81]:
#

49. Check if a list contains another list as a subsequence.

In [84]:
l1 = [1,2,3,4,5,6,7,8,9]
l2 = [1,3,5,7,9]

for i in l2:
    if i in l1:
        c = True
    else:
        c = False
        break

if c== True:
    print("The list contains another list as a subsequence")
else:
    print("The list doesn't contains another list as a subsequence")

The list contains another list as a subsequence

50. Swap two elements in a list by their indices.

In [79]:
l = [1,2,3,4,5,6,7,8,9]
a,b = input("Enter the indices for swapping seperated by spaces :").split()

a,b = int(a),int(b)
temp = l[a]
l[a] = l[b]
l[b] = temp

print("After Swapping:",l)

Enter the indices for swapping seperated by spaces : 2 3

After Swapping: [1, 2, 4, 3, 5, 6, 7, 8, 9]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [48]:
l = []
for i in range(1,6):
    l.append(i)
t = tuple(l)
print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [49]:
t = (1,2,3,4,5,6,7)

print("Third element of a tuple :",t[2])

Third element of a tuple : 3

3. Find the length of a tuple without using the `len()` function.

In [50]:
t = (1,2,3,4,5)
c = 0

for i in t:
    c += 1
    
print("Length of tuple is :",c)

Length of tuple is : 5

4. Count the occurrences of an element in a tuple.

In [51]:
t = (1,2,3,4,4,4,5,5,6)

print("Occurence of desired element :",t.count(4))

Occurence of desired element : 3

5. Find the index of the first occurrence of an element in a tuple.

In [54]:
t = (1,2,3,4,4,4,5,5,6)

print("First Occurence of desired element :",t.index(5))

First Occurence of desired element : 6

6. Check if an element exists in a tuple.

In [103]:
t = (1,2,3,4,5)
if

7. Convert a tuple to a list.

In [55]:
t = (1,2,3)

l = list(t)
print("Desired list :",l)

Desired list : [1, 2, 3]

8. Convert a list to a tuple.

In [56]:
l = [1,2,3]

t = tuple(l)
print("Desired list :",t)

Desired list : (1, 2, 3)

9. Unpack the elements of a tuple into variables.

In [59]:
t = (1,2,3)

a,b,c = t
print(a,b,c)

1 2 3

10. Create a tuple of even numbers from 1 to 10.

In [60]:
l = []
for i in [i for i in range(1,11) if i % 2==0]:
    l.append(i)
    
print("Tuple of even numbers from 1 to 10 :",tuple(l))

Tuple of even numbers from 1 to 10 : (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [61]:
l = []
for i in [i for i in range(1,11) if i % 2 != 0]:
    l.append(i)
    
print("Tuple of odd numbers from 1 to 10 :",tuple(l))

Tuple of odd numbers from 1 to 10 : (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [62]:
t1 = (1,2,3)
t2 = (4,5,6)

t1 + t2

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [63]:
t1 = (1,2,3)

t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [64]:
t1 = (1,2,3)
 
if t1 == ():
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is not empty

15. Create a nested tuple.

In [67]:
t = (1,2,3,(4,5,6))

16. Access the first element of a nested tuple.

In [2]:
t = (1,2,3,(4,5,6))
for i in t:
    if type(i) == tuple:
        print("First element of a nested tuple :",i[0])

First element of a nested tuple : 4

17. Create a tuple with a single element.

In [5]:
t = (1,) 
t

(1,)

18. Compare two tuples.

In [116]:
#

19. Delete a tuple.

In [118]:
t = (1,2,3)

20. Slice a tuple.

In [6]:
t = (1,2,3,4,5)

# tuple slicing
t[2:4]

(3, 4)

21. Find the maximum value in a tuple.

In [7]:
t = (1,2,3,4,5)

print("Maximum value in a tuple :",max(t))

Maximum value in a tuple : 5

22. Find the minimum value in a tuple.

In [8]:
t = (1,2,3,4,5)

print("Minimum value in a tuple :",min(t))

Minimum value in a tuple : 1

23. Convert a string to a tuple of characters.

In [9]:
s = input("Enter a string :")

tuple(s)

Enter a string : suman

('s', 'u', 'm', 'a', 'n')

24. Convert a tuple of characters to a string.

In [10]:
t = ('s', 'u', 'm', 'a', 'n')
s = ''
for i in t:
    s = i + s
    
print("New String :",s)

New String : suman

25. Create a tuple from multiple data types.

In [13]:
t = (1,24.6,True,"Suman",5+6j)
t

(1, 24.6, True, 'Suman', (5+6j))

26. Check if two tuples are identical.

In [16]:
t1 = (1,2,3)
t2 = (1,4,3)

if t1 == t2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

27. Sort the elements of a tuple.

In [21]:
t = (5,9,3,7,2,6,1,8)
sorted(t)

[1, 2, 3, 5, 6, 7, 8, 9]

28. Convert a tuple of integers to a tuple of strings.

In [23]:
t = (1,2,3)
l = []
for i in t:
    l.append(str(i))
    
print("New Tuple :",tuple(l))

New Tuple : ('1', '2', '3')

29. Convert a tuple of strings to a tuple of integers.

In [1]:
s = ("1","2","3")
l = []
for i in s:
    l.append(int(i))
    
print("Modified tuple :",tuple(l))

Modified tuple : (1, 2, 3)

30. Merge two tuples.

In [24]:
t1 = (1,2,3)
t2 = (4,5,6)

t1 + t2

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [130]:
#

32. Create a tuple of the first 5 prime numbers.

In [17]:
l = []
n = 0
for i in  range(1,100):
    c = 0
    for j in range(1,i+1):
        if i % j == 0:
            c += 1
    if c == 2:
        l.append(i)
        n += 1
    if n ==5:
        print("Tuple of the first 5 prime numbers :",tuple(l))
        break

Tuple of the first 5 prime numbers : (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [31]:
#

34. Create a tuple of squares of numbers from 1 to 5.

In [30]:
l = []
for i in range(1,6):
    l.append(i**2)
print("tuple of squares of numbers from 1 to 5 :",tuple(l))

tuple of squares of numbers from 1 to 5 : (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [33]:
t = (1,2,3,4,5,6,7,8,9)
l = []
for i in [i for i in t if i % 2 == 0]:
    l.append(i)
print("Set of even numbers from a tuple :",tuple(l))

Set of even numbers from a tuple : (2, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [35]:
t = (1,2,3,4,5,6,7,8,9)
l = []
for i in [i*2 for i in t]:
    l.append(i)
print("Set of even numbers from a tuple :",tuple(l))

Set of even numbers from a tuple : (2, 4, 6, 8, 10, 12, 14, 16, 18)

37. Create a tuple of random numbers.

In [29]:
n = int(input("Enter the number of random numbers required :"))
l = []
for i in range(n):
    a = int(input("Enter the number to insert :"))
    l.append(a)
    
print("User input tuple :",tuple(l))

Enter the number of random numbers required : 4
Enter the number to insert : 1
Enter the number to insert : 2
Enter the number to insert : 3
Enter the number to insert : 5

User input tuple : (1, 2, 3, 5)

38. Check if a tuple is sorted.

In [26]:
t = (1,5,3)

if t == tuple(sorted(t)):
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [138]:
#

40. Rotate a tuple to the right by `n` positions.

In [35]:
#

41. Create a tuple of the first 5 Fibonacci numbers.

In [32]:
l = []
a,b = 0,1
for i in range(5):
    l.append(a)
    a,b=b,a+b
    
print("Tuple of the first 5 Fibonacci numbers :",tuple(l))

Tuple of the first 5 Fibonacci numbers : (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [33]:
#

43. Swap two elements in a tuple.

In [30]:
t = (1,2,3,4,5,6)
l = list(t)
i,j=input("Enter the positions of elements you want to want to swap seperated by spaces :").split()
i,j=int(i),int(j)
temp = l[i]
l[i]=l[j]
l[j]=temp
print("Afetr Swapping :")
print(tuple(l))

Enter the positions of elements you want to want to swap seperated by spaces : 0 2

Afetr Swapping :
(3, 2, 1, 4, 5, 6)

44. Reverse the elements of a tuple.

In [143]:
# reversing a integer
def rev_int(n:int):

45. Create a tuple of the first `n` powers of 2.

In [2]:
n = int(input("Enter the value of n :"))
l = []

for i in range(n):
    l.append(2**i)

print("Desired tuple :",tuple(l))

Enter the value of n : 5

Desired tuple : (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [7]:
s = ("sudh","kumar","ramesh")
length_word = 0
longest_word = ''

for i in s:
    if len(i)>=length_word:
        longest_word = i
        length_word = len(s)
        
print("Longest string in a tuple of strings :",longest_word)

Longest string in a tuple of strings : ramesh

47. Find the shortest string in a tuple of strings.

In [8]:
s = ("sudh","kumar","ramesh")
length_word = len(s[0])
shortest_word = ''

for i in s:
    if len(i)<=length_word:
        shortest_word = i
        length_word = len(s)
        
print("Longest string in a tuple of strings :",shortest_word)

Longest string in a tuple of strings : sudh

48. Create a tuple of the first `n` triangular numbers.

In [147]:
#

49. Check if a tuple contains another tuple as a subsequence.

In [14]:
t1 = (1,2,3,4,5,6,7)
t2 = (1,3,5,7)

if set(t2).issubset(set(t1)):
    print("Tuple contains another tuple as a subsequence")
else:
    print("Tuple doesn't contains another tuple as a subsequence")

Tuple contains another tuple as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [10]:
n = int(input("Enter the length :"))
l = []
for i in range(n):
    if i % 2 == 0:
        l.append(1)
    else:
        l.append(0)

print("Desired tuple :",tuple(l))

Enter the length : 5

Desired tuple : (1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [20]:
s = set()
for i in range(1,6):
    s.add(i)

print(s)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [4]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [8]:
s.remove(4)
s

{1, 2, 3, 5}

4. Check if an element exists in a set.

In [10]:
# declaring set of integers
s = {1,2,3,4,5}

# checking if an element is present in the set or not
n = int(input("Enter the element you want to check :"))
if n in s:
    print(n,"is present in the list")
else:
    print(n,"is not present in the list")

Enter the element you want to check : 5

5 is present in the list

5. Find the length of a set without using the `len()` function.

In [19]:
# declaring set of integers 
s = {1,2,3,4}

# findiing the length of the set
l = 0
for i in s:
    l += 1

print("The length of the set is :",l)

The length of the set is : 4

6. Clear all elements from a set.

In [15]:
# declaring a set of integers
s1 = {1,2,3,4,56}

s1.clear()
s1

set()

7. Create a set of even numbers from 1 to 10.

In [21]:
s1 = set()
for i in [i for i in range(1,11) if i%2==0]:
    s1.add(i)

print(s1)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [22]:
s2 = set()
for i in [i for i in range(1,11) if i%2!=0]:
    s2.add(i)

print(s2)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [23]:
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [24]:
s1 = {1,2,3,4,5}
s2 = {5,7,8,9,10}
s1.intersection(s2)

{5}

11. Find the difference between two sets.

In [2]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.difference(s2)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [3]:
a = {1,2,3}
b = {1,2,3,4,5}
a.issubset(b)

True

13. Check if a set is a superset of another set.

In [5]:
a = {1,2,3}
b = {1,2,3,4,5}
b.issuperset(a)

True

14. Create a set from a list.

In [6]:
l = [1,2,3,4,5]
s = set(l)
s

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [8]:
s = {1,2,3,4,5}
l = list(s)
l

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [10]:
s = {1,2,3,4,5}
s.remove(1)
s

{2, 3, 4, 5}

17. Pop an element from a set.

In [26]:
s = {1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [15]:
s1 = {1,2,3}
s2 = {4,5,6}
if s1.intersection(s2) == set():
    print("No common element")
else:
    print("Has common element")

No common element

19. Find the symmetric difference between two sets.

In [31]:
s1 = {1,2,3}
s2 = {3,4,5}
s1.symmetric_difference(s2)

{1, 2, 4, 5}

20. Update a set with elements from another set.

In [29]:
s1 = {1,2,3}
s2 = {4,5,6}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6}

21. Create a set of the first 5 prime numbers.

In [26]:
s = set()
n = 0
for i in range(1,100):
    c = 0
    for j in range(1,i+1):
        if i % j == 0:
            c += 1
    if c == 2:
        s.add(i)
        n += 1
    if n == 5:
        break
        
print("The set of first 5 prime numbers :")
print(s)

The set of first 5 prime numbers :
{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [22]:
s1 = {1,2,3}
s2 = {3,1,2}
if s1 == s2:
    print("Two sets are identical")
else:
    print("Two sets are not identical")

Two sets are identical

23. Create a frozen set.

In [27]:
s = frozenset([1,2,3])
print(s)

frozenset({1, 2, 3})

24. Check if a set is disjoint with another set.

In [39]:
s1 = {1,2,3}
s2 = {4,5,6}
if s1.intersection(s2) == set():
    print("Sets are disjoint")
else:
    print("Sets are not disjoint")

Sets are disjoint

25. Create a set of squares of numbers from 1 to 5.

In [41]:
s = set()
for i in range(1,6):
    s.add(i*i)
    
print("The set of squares of numbers from 1 to 5 :")
print(s)

The set of squares of numbers from 1 to 5 :
{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [28]:
s = {1,2,3,4,5,6,7,8,9,10}
s1 = set()

for i in s:
    if i % 2 == 0:
        s1.add(i)

print("Orginal set :",s)
print("Set of even numbers from original set :",s1)

Orginal set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set of even numbers from original set : {2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [44]:
s = {10,"pwskills",23,4,True}
l = list(s)
s1 = set()

for i in l:
        s1.add(i*2)

print("Modified set :",s1)

Modified set : {2, 8, 46, 20, 'pwskillspwskills'}

28. Create a set of random numbers.

In [30]:
n = int(input("Enter the number of random numbers required :"))
s1 = set()
for i in range(n):
    a = int(input("Enter the number you want to insert in a set :"))
    s1.add(a)

print("The desired set is :")
print(s1)

Enter the number of random numbers required : 3
Enter the number you want to insert in a set : 1
Enter the number you want to insert in a set : 2
Enter the number you want to insert in a set : 3

The desired set is :
{1, 2, 3}

29. Check if a set is empty.

In [56]:
s = set()
if s == set():
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

30. Create a nested set (hint: use frozenset).

In [181]:
#

31. Remove an element from a set using the discard method.

In [31]:
s = {1,2,3}
s.discard(2)
s

{1, 3}

32. Compare two sets.

In [53]:
s1 = {1,2,3}
s2 = {4,5,6}

if s1 == s2:
    print("Sets are equal")
elif len(s1) == len(s2):
    print("Sets are equivalent")
else:
    print("Sets are not comparable")

sets are equivalent

33. Create a set from a string.

In [50]:
s = "suman"
s1 = set()
for i in s:
    s1.add(i)

print("The requires set is :")
print(s1)

The requires set is :
{'u', 'n', 'a', 's', 'm'}

34. Convert a set of strings to a set of integers.

In [45]:
s = {"1","2","3"}
l = list(s)
s1 = set()

for i in l:
    i = int(i)
    s1.add(i)
print("New Converted set :",s1)

New Converted set : {1, 2, 3}

35. Convert a set of integers to a set of strings.

In [46]:
s = {1,2,3}
l = list(s)
s1 = set()

for i in l:
    i = str(i)
    s1.add(i)
print("New Converted set :",s1)

New Converted set : {'2', '3', '1'}

36. Create a set from a tuple.

In [16]:
t = (1,2,3)
s = set(t)
s

{1, 2, 3}

37. Convert a set to a tuple.

In [18]:
s = {1,2,3}
t = tuple(s)
t

(1, 2, 3)

38. Find the maximum value in a set.

In [32]:
s = {1,2,3}
print("Maximum element in the set :",max(s))

Maximum element in the set : 3

39. Find the minimum value in a set.

In [35]:
s = {1,2,3}
print("Minimum element in the set :",min(s))

Minimum element in the set : 1

40. Create a set from user input.

41. Check if the intersection of two sets is empty.

In [58]:
s1 = {1,2,3}
s2 = {4,5,6}
if s1.intersection(s2) == set():
    print("Intersection set is empty")
else:
    print("Intersection set is non-empty")

Intersection set is empty

42. Create a set of the first 5 Fibonacci numbers.

In [42]:
s = set()
a,b = 0,1
for i in range(5):
    s.add(a)
    a,b=b,a+b

print("Set of the first 5 Fibonacci numbers :",s)

Set of the first 5 Fibonacci numbers : {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [63]:
l = [1,2,3,3,4,5,6,7,7,8,8,8]
s = set(l)
l1 = list(s)
print("New list :",l1)

New list : [1, 2, 3, 4, 5, 6, 7, 8]

44. Check if two sets have the same elements, regardless of their count.

In [37]:
s1 = {1,2,3}
s2 = {1,2,2,3,3}

if s1 == s2:
    print("Sets have same elements")
else:
    print("Sets does not have same elements")

Sets have same elements

45. Create a set of the first `n` powers of 2.

In [65]:
n = int(input("Enter upto which power of 2 is required :"))
s = set()

for i in range(n):
              s.add(2**i)

print("The desired set is :",s)

Enter upto which power of 2 is required : 5

The desired set is : {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [59]:
s = {1,2,3}
l = [3,4,5]
s1 = set(l)
s2 = s.intersection(s1)
print("Common elements are :",s2)

Common elements are : {3}

47. Create a set of the first `n` triangular numbers.

In [199]:
#

48. Check if a set contains another set as a subset.

In [44]:
s1 = {1,2,3,4,5,6,7,8,9}
s2 = {3,4,5,6,0}

if s2.issubset(s1):
    print("set contains another set as a subset")
else:
    print("set doesn't contains another set as a subset")

set doesn't contains another set as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [19]:
#

50. Merge multiple sets into one.

In [40]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}

s1.update(s2,s3)
print("Merged Set :",s1)

Merged Set : {1, 2, 3, 4, 5, 6, 7, 8, 9}